@import "../app/globals.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: none;
  gap: 5;
  border-radius: 0.5rem;
  background-color: $primary-color;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $primary-dark-color;
  }

  &:active {
    transform: translateY(0);
  }

  &:disabled {
    background-color: #a78bfa;
    cursor: not-allowed;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}
